<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Beginning of Season</th>
        <th>End of Season</th>
        <th>Game Count</th>
        <th>Cumulative Pot Amount</th>
        <th>Season Leader</th>
      </tr>
    </thead>
    <tbody>
      <% @seasons.each_with_index do |s, i| %>
        <tr class="table-row" data-link="<%= season_path(s) %>">
          <td><%= s.beginning_of_season %></td>
          <td><%= s.end_of_season %></td>
          <td><%= s.game_count %></td>
          <td><%= number_to_currency(s.cumulative_pot_size) %></td>
          <td><%= s.winner %> points</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
