<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Attended</th>
        <th>Attendance %</th>
        <th>Won</th>
        <th>Placed</th>
        <th>Total Score</th>
      </tr>
    </thead>
    <tbody>
      <% @participants.each_with_index do |p, i| %>
      <tr class="table-row" data-link="<%= participant_path(p) %>">
        <td><%= i + 1 %></td>
        <td><%= p.display_name %></td>
        <td><%= p.total_games_count %></td>
        <td><%= p.overall_attendance %></td>
        <td><%= p.global_win_count %></td>
        <td><%= p.global_game_top_three_count %></td>
        <td><%= p.global_score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
