<div class="list-group participant-main">
  <div class="list-group-item list-group-item-action games">
    <h5 class="list-group-item-heading">CURRENT SEASON STATISTICS</h5>
    <p class="list-group-item-text">&nbsp;</p>
  </div>
  <div class="list-group-item list-group-item-action stat-line">
    <p class="list-group-item-text">Games played: <span><%= participant.evaluated_game_count %></span></p>
    <p class="list-group-item-text">Attendance: <span><%= participant.current_percentage_attended %>%</span></p>
    <p class="list-group-item-text">Win: <span><%= participant.evaluated_overall_percentage([1]) %>%</span></p>
    <p class="list-group-item-text">Place: <span><%= participant.evaluated_overall_percentage([1,2,3]) %>%</span></p>
    <p class="list-group-item-text">Evaluated Score: <span><%= participant.evaluated_score %></span></p>
  </div>
  <% participant.evaluated_games.each do |game| %>
  <div class="list-group-item list-group-item-action div-row" data-link="<%= game_path(game) %>">
    <h5 class="list-group-item-heading"><%= game.full_formatted_date %></h5>
    <p class="list-group-item-text"># of players: <span><%= game.player_count %></span></p>
    <p class="list-group-item-text">Finishing place: <span><%= game.find_player(participant.id).finishing_place %></span></p>
    <p class="list-group-item-text">Game score: <span><%= game.find_player(participant.id).score %></span></p>
    <p class="list-group-item-text">Head-to-head nemesis: <span><%= game.find_player(participant.id).nemesis %></span></p>
  </div>
  <% end %>
</div>
