<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="list-group">
        <div class="list-group-item list-group-item-action players">
          <h5 class="list-group-item-heading">Top 5 Players</h5>
          <p class="list-group-item-text">By Evaluated Score</p>
        </div>

        <% @participants.each_with_index do |participant, index| %>
        <div class="list-group-item list-group-item-action participant-row" data-link="<%= participant_path(participant) %>">
          <h5 class="list-group-item-heading">
            <%= "#{index + 1}. #{participant.display_name}" %>
          </h5>
          <p class="list-group-item-text muted-text">
            <%= pluralize(participant.evaluated_score, 'point') %> |
            <%= pluralize(participant.total_game_count, 'game') %>
          </p>
          <p class="list-group-item-text muted-text">
            top three: <%= participant.game_top_three_count %>
          </p>
        </div>
        <% end %>

        <div class="list-group-item list-group-item-action">
          <p class="list-group-item-text muted-text"><%= link_to "View all players", participants_path  %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="list-group">
        <div class="list-group-item list-group-item-action games">
          <h5 class="list-group-item-heading">Last 5 Games</h5>
          <p class="list-group-item-text">&nbsp;</p>
        </div>

          <% @games.each_with_index do |game, index| %>
          <div class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">
              <%= "#{game.formatted_date} | #{game.player_count} Players " %>
            </h5>
            <p class="list-group-item-text muted-text">
              Winner: <%= game.winner %>
            </p>
            <p class="list-group-item-text muted-text">
              Runner Up: <%= game.second_place %>
            </p>
          </div>
          <% end %>

      </div>
    </div>

    <div class="col-md-4">

      <div class="list-group">
        <div class="list-group-item list-group-item-action seasons">
          <h5 class="list-group-item-heading">Most Recent Seasons</h5>
          <p class="list-group-item-text">&nbsp;</p>
        </div>

          <% @seasons.each_with_index do |season, index| %>
          <div class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">
              <%= "Ended: #{season.end_of_season}" %>
            </h5>
            <p class="list-group-item-text muted-text">
              # of Games: <%= season.game_count %>
            </p>
            <p class="list-group-item-text muted-text">
              Season Leader: <%= season.winner %>
            </p>
          </div>
          <% end %>

      </div>

    </div>
  </div>
</div>
