<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="list-group">
        <div class="list-group-item list-group-item-action players">
          <h5 class="list-group-item-heading">Top 5 Players</h5>
          <p class="list-group-item-text">By Overall Score</p>
        </div>

        <% @participants.each_with_index do |participant, index| %>
        <div class="list-group-item list-group-item-action">
          <h5 class="list-group-item-heading">
            <%= "#{index + 1}. #{participant.first_name} #{participant.last_initial}" %>
          </h5>
          <p class="list-group-item-text muted-text">
            <%= pluralize(participant.total_score, 'point') %> |
            <%= pluralize(participant.total_game_count, 'game') %> |
            <%= "#{participant.average_score} average PPG" %>
          </p>
          <p class="list-group-item-text muted-text">
            # of times placed: <%= participant.game_top_three_count %>
          </p>
        </div>
        <% end %>

      </div>
    </div>

    <div class="col-md-4">
      <div class="list-group">
        <div class="list-group-item list-group-item-action games">
          <h5 class="list-group-item-heading">Last 5 Games</h5>
          <p class="list-group-item-text">&nbsp;</p>
        </div>

          <% @games.each_with_index do |game, index| %>
          <div class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">
              <%= "#{game.formatted_date} | #{game.player_count} Players " %>
            </h5>
            <p class="list-group-item-text muted-text">
              Winner: <%= game.winner %>
            </p>
            <p class="list-group-item-text muted-text">
              2nd Place: <%= game.second_place %>
            </p>
          </div>
          <% end %>

      </div>
    </div>

    <div class="col-md-4">

      <div class="list-group">
        <div class="list-group-item list-group-item-action seasons">
          <h5 class="list-group-item-heading">Most Recent Seasons</h5>
          <p class="list-group-item-text">&nbsp;</p>
        </div>

          <% @seasons.each_with_index do |season, index| %>
          <div class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">
              <%= "Ended: #{season.end_of_season}" %>
            </h5>
            <p class="list-group-item-text muted-text">
              # of Games: <%= season.game_count %>
            </p>
            <p class="list-group-item-text muted-text">
              Season Leader: <%= season.winner %>
            </p>
          </div>
          <% end %>

      </div>

    </div>
  </div>
</div>
