<div class="container" id="game-container" data-game-id="<%= @game.id %>">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="list-group">
        <div class="list-group-item list-group-item-action seasons">
          <h5 class="list-group-item-heading">Game #<%= @game.id %></h5>
          <p class="list-group-item-text"><%= @game.full_formatted_date %> | Buy In: <%= number_to_currency(@game.buy_in) %></p>
        </div>
        <div class="list-group-item list-group-item-action clearfix" id="player-select">
          <h6>Add an Eliminated Player</h6>
          <div class="col-md-12 form-group">
            <%= select_tag 'participant_id', options_for_select(Participant.sorted_by_name_for_select), class: 'form-control' %>
          </div>
          <div class="col-md-12 form-group">
            <%= select_tag 'finishing_place', options_for_select([*1..20].unshift(["place"])), class: 'form-control' %>
          </div>
          <div class="col-md-12 form-group">
            <button id="eliminate-player" class="btn btn-danger btn-block">Eliminate!</button>
          </div>

        </div>
        <div class="list-group-item clearfix hidden" id="new-player">
          <div class="col-lg-4 col-sm-12 form-group"><label>First Name</label><input id="first_name" type="text" class="form-control"></div>
          <div class="col-lg-4 col-sm-12 form-group"><label>Last Name</label><input id="last_name" type="text" class="form-control"></div>
          <div class="col-lg-4 col-sm-12 form-group"><label>Place</label><input id="nfp" type="text" class="form-control"></div>
          <div class="col-lg-12 col-sm-12 form-group"><button id="create-player" class="btn btn-primary btn-block">Create Player</button></div>
        </div>

        <div class="list-group-item" >
          <h6>Eliminated Players</h6>
            <%= render partial: "placed" %>
        </div>
        <div class="list-group-item clearfix">
          <%= form_for(@game) do |f| %>
            <%= f.submit "Finish Game", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
