<div class="container">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Season #</th>
        <th>Date</th>
        <th>Players</th>
        <th>Buy In</th>
        <th>Pot Size</th>
        <th>Winner</th>
        <th>Runner Up</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each_with_index do |g, i| %>
      <tr class="table-row" data-link="<%= game_path(g) %>">
        <td><%= i + 1 %></td>
        <td><%= g.season_id %></td>
        <td><%= g.full_formatted_date %></td>
        <td><%= g.player_count %></td>
        <td><%= number_to_currency(g.buy_in) %></td>
        <td><%= number_to_currency(g.pot_size) %></td>
        <td><%= g.winner %></td>
        <td><%= g.second_place %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
