<!DOCTYPE html>
<html>
  <head>
    <title>p-p-p-pokerrank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render partial: "shared/navbar" %>
    <div class="main-container">
      <%= yield %>
  </div>
  </body>
</html>
